body {
    text-align: center;
}

#Apps {
    background: linear-gradient(yellow 0%, lightblue 100%);
}

#gamesop {
    background: linear-gradient(blue 0%, pink 100%);
}

.container {
    text-align: center;
}

#gamesop img {
    height: 300px;
    margin-top: 15px;
}

#gamesop p {
    font-size: 30px;
    color: crimson;
    font-family: fantasy;
    margin: 15px;
}
